
html {
    font-family: 'Cardo', serif;
    width: 100%;
    
}
body{
    color: #626566;
    overflow-x: hidden;
    width: 100%;
  
}

/* header */

#headies{
background-color: #7C619B;

} 
.uk-card{
    overflow: auto;
}


/* main sections */
.musicSection{
    margin-top: 50px;
}

.bioSection{
    margin-top: 50px;
}

.contactSection{
    margin-top: 50px;
    padding-bottom: 20px;
}

/* pictures */

#bankshotMainLogo{
    padding-bottom: 40px;
}
.cardPics{
  max-width: 100%;
  max-height: 100%
}
#mainPic{
    height: 500px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contactSection{
    text-align: center;
}
#logoimage{
    height: 65px;
    width: 65px;
}

/* audio */
audio{
    height: 100px;
    width: 300px;
}

/* section Headers */

.sectionHeaders{
    font-size: 100px;
    text-align-last: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Monoton', cursive;
    color: #7C619B;
    text-align: center;
}
#mobile-links{
   font-family: 'Monoton', cursive;
    
}

/* footer */

#footer{
   height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #626566;
    text-align: right;
}


/* button */
#formSubmit{
    background-color: #7C619B;
}
.uk-button{
    background-color: #7C619B;
    color:white;
}

/* modal */
.uk-modal-header{
    background-color: #7C619B;
}
.uk-offcanvas-bar{
 background-color: #7C619B;
 font-family: 'Monoton', cursive;
 
}
.uk-card-primary.uk-card-body .uk-nav-default>li.uk-active>a, .uk-card-primary>:not([class*=uk-card-media]) 
.uk-nav-default>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-nav-default>li.uk-active>a, 
.uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default>li.uk-active>a, .uk-light .uk-nav-default>li.uk-active>a, 
.uk-offcanvas-bar .uk-nav-default>li.uk-active>a, .uk-overlay-primary .uk-nav-default>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) 
.uk-nav-default>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a, .uk-tile-primary:not(.uk-preserve-color) 
.uk-nav-default>li.uk-active>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li.uk-active>a {
    color: black;
}
.uk-card-primary.uk-card-body .uk-nav-default .uk-nav-header, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-default .uk-nav-header, .uk-card-secondary.uk-card-body .uk-nav-default .uk-nav-header, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-default .uk-nav-header, .uk-light .uk-nav-default .uk-nav-header, .uk-offcanvas-bar .uk-nav-default .uk-nav-header, .uk-overlay-primary .uk-nav-default .uk-nav-header, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default .uk-nav-header, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default .uk-nav-header, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default .uk-nav-header, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default .uk-nav-header {
    color: black;
}

.uk-offcanvas-close{
    color: black;
}
.uk-nav-divider{
    color: black
}

/* Mobile Respone */
@media only screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }

    #mainPic{
        height: 300px;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #mobile-links{
        font-size: 10px;
        padding: 2px;
        
    }

    .uk-navbar-center{
        padding-right: 70px;
    }
   

    .uk-navbar-right>.uk-navbar-nav>li>a{
        padding: 6px;

    }

    #logoimage{
        height: 40px;
        width: 40px;
    }

    #mainPic{
        margin-bottom: 75px;
        margin-top: 100px;
    }
    .sectionHeaders{
        font-size: 50px;
        text-align-last: center;
       
    }
}